.nav {
    background-color: rgb(55, 55, 203);
}

.nav .nav-item .nav-link {
    color: white
}

.nav .nav-item .nav-link:hover {
    color: wheat
}

.table {
    background-color: black;
    color: red
}